@{
    ViewBag.Title = "FilestreamResult not opening";
}

@*<h2>Exception: "OutputStream is not available when a custom TextWriter is used."</h2>
<p>
<a href="@Html.Action("IndexPdf")">This throws an Exception</a>
</p>*@

<h1><a href='http://stackoverflow.com/questions/34810081'>http://stackoverflow.com/questions/34810081</a>  </h1>
<p>
<a href="@Url.Action("IndexPdf")" target='_blank'>This works!</a>
</p>